.container {
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.piece-box {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 100px auto;
  perspective-origin: 50% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-animation: pieceRotate ease 5s;
  -webkit-animation: pieceRotate ease 5s;
  animation: pieceRotate ease 5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.piece-box:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.piece {
  position: absolute;
  width: 200px;
  height: 150px;
  background: red;
  opacity: 0.5;
}

.piece-1 {
  -moz-transform:  rotateY(0deg) translateZ(173.2px);
  -ms-transform:  rotateY(0deg) translateZ(173.2px);
  -webkit-transform:  rotateY(0deg) translateZ(173.2px);
  transform:  rotateY(0deg) translateZ(173.2px);
  background: #ff6666;
}
.piece-1:hover {
  -moz-transform:  scale3d(1, 1.5, 1) rotateY(0deg) translateZ(173.2px);
  -ms-transform:  scale3d(1, 1.5, 1) rotateY(0deg) translateZ(173.2px);
  -webkit-transform:  scale3d(1, 1.5, 1) rotateY(0deg) translateZ(173.2px);
  transform:  scale3d(1, 1.5, 1) rotateY(0deg) translateZ(173.2px);
}

.piece-2 {
  -moz-transform:  rotateY(60deg) translateZ(173.2px);
  -ms-transform:  rotateY(60deg) translateZ(173.2px);
  -webkit-transform:  rotateY(60deg) translateZ(173.2px);
  transform:  rotateY(60deg) translateZ(173.2px);
  background: #ffff00;
}
.piece-2:hover {
  -moz-transform:  scale3d(1, 1.5, 1) rotateY(60deg) translateZ(173.2px);
  -ms-transform:  scale3d(1, 1.5, 1) rotateY(60deg) translateZ(173.2px);
  -webkit-transform:  scale3d(1, 1.5, 1) rotateY(60deg) translateZ(173.2px);
  transform:  scale3d(1, 1.5, 1) rotateY(60deg) translateZ(173.2px);
}

.piece-3 {
  -moz-transform:  rotateY(120deg) translateZ(173.2px);
  -ms-transform:  rotateY(120deg) translateZ(173.2px);
  -webkit-transform:  rotateY(120deg) translateZ(173.2px);
  transform:  rotateY(120deg) translateZ(173.2px);
  background: #006699;
}
.piece-3:hover {
  -moz-transform:  scale3d(1, 1.5, 1) rotateY(120deg) translateZ(173.2px);
  -ms-transform:  scale3d(1, 1.5, 1) rotateY(120deg) translateZ(173.2px);
  -webkit-transform:  scale3d(1, 1.5, 1) rotateY(120deg) translateZ(173.2px);
  transform:  scale3d(1, 1.5, 1) rotateY(120deg) translateZ(173.2px);
}

.piece-4 {
  -moz-transform:  rotateY(180deg) translateZ(173.2px);
  -ms-transform:  rotateY(180deg) translateZ(173.2px);
  -webkit-transform:  rotateY(180deg) translateZ(173.2px);
  transform:  rotateY(180deg) translateZ(173.2px);
  background: #009999;
}
.piece-4:hover {
  -moz-transform:  scale3d(1, 1.5, 1) rotateY(180deg) translateZ(173.2px);
  -ms-transform:  scale3d(1, 1.5, 1) rotateY(180deg) translateZ(173.2px);
  -webkit-transform:  scale3d(1, 1.5, 1) rotateY(180deg) translateZ(173.2px);
  transform:  scale3d(1, 1.5, 1) rotateY(180deg) translateZ(173.2px);
}

.piece-5 {
  -moz-transform:  rotateY(240deg) translateZ(173.2px);
  -ms-transform:  rotateY(240deg) translateZ(173.2px);
  -webkit-transform:  rotateY(240deg) translateZ(173.2px);
  transform:  rotateY(240deg) translateZ(173.2px);
  background: #ff0033;
}
.piece-5:hover {
  -moz-transform:  scale3d(1, 1.5, 1) rotateY(240deg) translateZ(173.2px);
  -ms-transform:  scale3d(1, 1.5, 1) rotateY(240deg) translateZ(173.2px);
  -webkit-transform:  scale3d(1, 1.5, 1) rotateY(240deg) translateZ(173.2px);
  transform:  scale3d(1, 1.5, 1) rotateY(240deg) translateZ(173.2px);
}

.piece-6 {
  -moz-transform:  rotateY(300deg) translateZ(173.2px);
  -ms-transform:  rotateY(300deg) translateZ(173.2px);
  -webkit-transform:  rotateY(300deg) translateZ(173.2px);
  transform:  rotateY(300deg) translateZ(173.2px);
  background: #ff6600;
}
.piece-6:hover {
  -moz-transform:  scale3d(1, 1.5, 1) rotateY(300deg) translateZ(173.2px);
  -ms-transform:  scale3d(1, 1.5, 1) rotateY(300deg) translateZ(173.2px);
  -webkit-transform:  scale3d(1, 1.5, 1) rotateY(300deg) translateZ(173.2px);
  transform:  scale3d(1, 1.5, 1) rotateY(300deg) translateZ(173.2px);
}

@-moz-keyframes pieceRotate {
  0% {
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes pieceRotate {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes pieceRotate {
  0% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
.piece-box2 {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 100px auto;
  perspective-origin: 50% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-animation: pieceRotate2 linear 5s;
  -webkit-animation: pieceRotate2 linear 5s;
  animation: pieceRotate2 linear 5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.piece-box2:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.piece2 {
  position: absolute;
  width: 200px;
  height: 200px;
  background: red;
  opacity: 0.5;
}

.piece2-1 {
  -moz-transform:  rotateY(0deg) translateZ(100px);
  -ms-transform:  rotateY(0deg) translateZ(100px);
  -webkit-transform:  rotateY(0deg) translateZ(100px);
  transform:  rotateY(0deg) translateZ(100px);
  background: #ff6666;
}

.piece2-2 {
  -moz-transform:  rotateY(90deg) translateZ(100px);
  -ms-transform:  rotateY(90deg) translateZ(100px);
  -webkit-transform:  rotateY(90deg) translateZ(100px);
  transform:  rotateY(90deg) translateZ(100px);
  background: #ffff00;
}

.piece2-3 {
  -moz-transform:  rotateY(180deg) translateZ(100px);
  -ms-transform:  rotateY(180deg) translateZ(100px);
  -webkit-transform:  rotateY(180deg) translateZ(100px);
  transform:  rotateY(180deg) translateZ(100px);
  background: #006699;
}

.piece2-4 {
  -moz-transform:  rotateY(270deg) translateZ(100px);
  -ms-transform:  rotateY(270deg) translateZ(100px);
  -webkit-transform:  rotateY(270deg) translateZ(100px);
  transform:  rotateY(270deg) translateZ(100px);
  background: #009999;
}

.piece2-5 {
  -moz-transform:  rotateX(90deg) translateZ(100px);
  -ms-transform:  rotateX(90deg) translateZ(100px);
  -webkit-transform:  rotateX(90deg) translateZ(100px);
  transform:  rotateX(90deg) translateZ(100px);
  background: #ff0033;
}

.piece2-6 {
  -moz-transform:  rotateX(-90deg) translateZ(100px);
  -ms-transform:  rotateX(-90deg) translateZ(100px);
  -webkit-transform:  rotateX(-90deg) translateZ(100px);
  transform:  rotateX(-90deg) translateZ(100px);
  background: #ff6600;
}

@-moz-keyframes pieceRotate2 {
  0% {
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes pieceRotate2 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes pieceRotate2 {
  0% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
.post-header-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eef;
}

.bubble-holder {
  width: 24em;
  height: 24em;
  position: absolute;
  margin: 20px;
  top: -50%;
  left: 50%;
  transform: translateX(-75%);
  animation: move-bubble 15s linear infinite;
  transform-origin: -200% 200%;
  opacity: 0;
}
.bubble-holder.two {
  transform-origin: -300% -100%;
  top: 20%;
  left: 70%;
}
.bubble-holder.three {
  transform-origin: 200% 200%;
  left: 30%;
}

.eye-holder {
  width: 20em;
  height: 20em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.eye-holder .ball {
  background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
}

.iris {
  width: 40%;
  height: 40%;
  margin: 30%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, #208ab4 0%, #6fbfff 30%, #4381b2 100%);
  transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  position: absolute;
  animation: move-eye-skew 5s ease-out infinite;
}
.iris:before, .iris:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.iris:before {
  width: 37.5%;
  height: 37.5%;
  top: 31.25%;
  left: 31.25%;
  background: black;
}
.iris:after {
  width: 31.25%;
  height: 31.25%;
  top: 18.75%;
  left: 18.75%;
  background: rgba(255, 255, 255, 0.2);
}

.bubble-rotate-offset {
  width: 100%;
  height: 100%;
  animation: rotate-bubble-offset 15s linear infinite;
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}
.ball:before, .ball:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  z-index: 2;
}
.ball:before {
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(circle at top, #ffffff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
}
.ball:after {
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  filter: blur(1px);
  transform: rotateZ(-30deg);
}
.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(90deg) translateZ(-160px);
  z-index: 1;
}
.ball.bubble {
  background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
  animation: bubble-anim 2s ease-out infinite;
}
.ball.bubble:before {
  filter: blur(0);
  height: 80%;
  width: 40%;
  background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}
.ball.bubble:after {
  display: block;
  background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, #ffffff 80%, #ffffff 84%, rgba(255, 255, 255, 0) 100%);
}

@keyframes bubble-anim {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%,100% {
    transform: scale(1);
  }
}
@keyframes move-bubble {
  0% {
    transform: translateX(-50%) rotateZ(-30deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) rotateZ(30deg);
  }
}
@keyframes rotate-bubble-offset {
  0% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(-30deg);
  }
}
@keyframes move-eye-skew {
  0% {
    transform: none;
  }
  20% {
    transform: translateX(-4.25em) translateY(1.875em) skewX(15deg) skewY(-10deg) scale(0.95);
  }
  25%,44% {
    -webkit-transform: none;
    transform: none;
  }
  50%,60% {
    transform: translateX(4.25em) translateY(-2.5em) skewX(5deg) skewY(2deg) scaleX(0.95);
  }
  66%,100% {
    transform: none;
  }
}
