.container {
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.piece-box {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 300px auto;
  perspective-origin: 50% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-animation: pieceRotate ease 5s;
  -webkit-animation: pieceRotate ease 5s;
  animation: pieceRotate ease 5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.piece {
  position: absolute;
  width: 200px;
  height: 150px;
  background: red;
  opacity: 0.5;
}

.piece-1 {
  -moz-transform:  rotateY(0deg) translateZ(173.2px);
  -ms-transform:  rotateY(0deg) translateZ(173.2px);
  -webkit-transform:  rotateY(0deg) translateZ(173.2px);
  transform:  rotateY(0deg) translateZ(173.2px);
  background: #ff6666;
}

.piece-2 {
  -moz-transform:  rotateY(60deg) translateZ(173.2px);
  -ms-transform:  rotateY(60deg) translateZ(173.2px);
  -webkit-transform:  rotateY(60deg) translateZ(173.2px);
  transform:  rotateY(60deg) translateZ(173.2px);
  background: #ffff00;
}

.piece-3 {
  -moz-transform:  rotateY(120deg) translateZ(173.2px);
  -ms-transform:  rotateY(120deg) translateZ(173.2px);
  -webkit-transform:  rotateY(120deg) translateZ(173.2px);
  transform:  rotateY(120deg) translateZ(173.2px);
  background: #006699;
}

.piece-4 {
  -moz-transform:  rotateY(180deg) translateZ(173.2px);
  -ms-transform:  rotateY(180deg) translateZ(173.2px);
  -webkit-transform:  rotateY(180deg) translateZ(173.2px);
  transform:  rotateY(180deg) translateZ(173.2px);
  background: #009999;
}

.piece-5 {
  -moz-transform:  rotateY(240deg) translateZ(173.2px);
  -ms-transform:  rotateY(240deg) translateZ(173.2px);
  -webkit-transform:  rotateY(240deg) translateZ(173.2px);
  transform:  rotateY(240deg) translateZ(173.2px);
  background: #ff0033;
}

.piece-6 {
  -moz-transform:  rotateY(300deg) translateZ(173.2px);
  -ms-transform:  rotateY(300deg) translateZ(173.2px);
  -webkit-transform:  rotateY(300deg) translateZ(173.2px);
  transform:  rotateY(300deg) translateZ(173.2px);
  background: #ff6600;
}

@-moz-keyframes pieceRotate {
  0% {
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes pieceRotate {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes pieceRotate {
  0% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
